@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
  

html {
    height:100%;
}
body {
    display:flex;
    flex-direction: column;
    min-height:100%;
    margin:0;
    font-family: "PT Sans",sans-serif ;
    font-weight:400;
    font-size: 18px;
    line-height: 21px;
    background-color: #F2F2F2;
    color:#000000;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.page-header {
    background-color:#ffffff;
    color:black;
}
.navigation {
    display:flex;
    width:1200px;
    height:65px;
   margin:0 auto;
}
.navigation-list{
    display:flex;
 
    margin:0;
    padding:0;
    list-style-type:none;
    width:475px;
}
.navigation-user {
 max-width:310px;
 margin-left: 70px;
 

}
.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
}
.main-container{
    flex-grow: 1;
   padding-top: 0;
    padding-bottom:0;
}
.navigation-link {
    display:block;
    padding: 34px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color:#ffffff;
    text-decoration:none;
}
.navigation-link-want{
    display:block;
    width:130px;
    
    margin-top:14px;
    margin-left: 15px;
    margin-bottom:16px;
    padding: 9px 15px;
    font-weight: 700;
    font-size: 16px;
    height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration:none;
}
.navigation-logo{
    width:139px;
    margin-right:47px;
    margin-left:70px;
    margin-bottom:0;
    margin-top:0;

}
.page-container {
    width: 1200px;
    margin:0 auto;
 
  }
  .image {
    display:block;
    margin:0 auto;
    padding-top: 52px;
    padding-bottom: 83px;
  }
.welcome{
    background-image: url("../images/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #83B3D3;
    text-align:center;
}
.main-title{
    display: flex;
    width: 1200px;
    height: 282px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.title-large {
    width: 720px;
    height: 72px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 0;
    margin-top: 63px;
}
.subtitle {
    width: 720px;
    margin-top: 31px;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}
.advantages {
   
    font-weight: 700;
    text-align: center;
}
.advantages-list{
    
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.advantage-first { 
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 30px;

}
.index-column{
    display: flex;
    justify-content:space-between;
    width: 1200px;
    height: 384px;

}
.advantages-сity{
   
}
.advantage-item{
   
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
    width:400px;
    height:384px;
    margin: 0;
    padding: 0;
}
.advantage-image img {
    width: 800px;
    height: 384px;
    
}

.advantage-first, .advantage-second {
    background-color: #83B3D3;
    color: #FFFFFF;
}
.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantage-number{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.advantage-description {
    font-weight: 400;
    font-size: 18px;
    
}
h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.gift, .house {
    background-color: rgba(131, 179, 211, 0.12);
  
}
.advantages-сity p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.food{
    background-color: #FFFFFF;
  
}
.advantage-four {
    background-color: rgba(131, 179, 211, 0.2);
}
.search-hotel {
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
.search-question {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.search-date{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.button-search{
    background-color: #756257;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.newsletter {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}
.newsletter-index {
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
    background-color: #83B3D3;
}
.page-footer-container{
    display:flex;
  
    width:1200px;
    margin:0 auto;
    padding:40px 0;
}
.footer-social-list{
    display: flex;
 
    margin: 0;
    padding: 0;
   
}
.footer-social{
    margin-right: auto;
    max-width: ;
}
.page-footer-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.newsletter-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
}
.page-footer {
    background-color: #FFFFFF;
}
.contacts-phone {
   
     text-decoration:none;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.catalog-header {
    background-image:url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 408px;
    background-color: #83B3D3;
}
.inner-header-title {
    font-weight:700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}
.breadcrumbs-link {
   font-weight:400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.catalog-filter-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}
.catalog-filter-list{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.button-apply, .product-card-elect{
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button {
    text-decoration:none;
}
.button-cancel{
    font-weight:400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.main-inner{
    background-color: #FFFFFF;
}
.visually {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}
.sorting-type {
    font-style: normal;
    font-weight:400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.product-card{
    background-color:#FFFFFF;
}
.product-card-link {
    text-decoration:none;
}
.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}
.product-card-subtitle b {
    font-weight:400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.rate {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
}
.product-card-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
}
.elect{
    background-color: #7DB54F;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.pagination-show-more {
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.pagination-link{
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.pagination-current{
    color: #000000;
}
.hotels-number{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.sorting-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
